# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Git
.git/
.gitignore

# Build artifacts
builds/
uploads/

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Logs
*.log
