# Miscellaneous
.DS_Store
run.spec
dist/
__pycache__/
cmdline-tools/
java/
flutter/
jre/
jdk/
*.tmp
*.exe
*.msi
*.zip
*.xz
*.gz
*.log
*.dmg
*.pkg

# Project
/projects
/build
# /assets
.dart_tool/

# Android
*.jks
*.keystore